---
const title: string = `Contact Me`;
const getInTouch: string = `Get in touch via this form or contact me directly at yannis182@outlook.fr`;
const emailLabel: string = `Your email:`;
const messageLabel: string = `Your message:`;
const nameLabel: string = `Your name`;
---

<section class='py-4'>
  <p class='text-lg font-semibold'>{title}</p>
  <p class='text-md'>{getInTouch}</p>
  <form
    action='https://formspree.io/f/xnqyqnbl'
    method='POST'
    class='space-y-8 my-4 py-px'
  >
    <label class='block mb-2 text-sm font-medium text-gray-900'>
      {nameLabel}
      <input
        type='text'
        name='name'
        class='shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5'
        aria-required='true'
        required
      />
    </label>
    <label class='block mb-2 text-sm font-medium text-gray-900'>
      {emailLabel}
      <input
        type='email'
        name='email'
        class='shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5'
      />
    </label>
    <label class='block mb-2 text-sm font-medium text-gray-900'>
      {messageLabel}
      <textarea
        class='block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500'
        name='message'></textarea>
    </label>
    <button
      class='text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2'
      type='submit'>Send</button
    >
  </form>
</section>
